{% load i18n %}
{% load staticfiles %}

{% if brands %}
  <div class="site-content cf row-fluid" style="margin-bottom:-3em !important;">
     <div class="courses cf" id="featured-brand">
  {% for brand in brands %}
    <div class="col-6 col-sm-2 product-list course-item slide" style="margin-bottom: 1em;">
      <a href="{{ brand.url }}" class="link--clean" style="margin-bottom: 15px;">
        <div class="text-center">
          <div class="card" style="width: 100%; height: 125px;  text-align: center; white-space: nowrap; margin: 0 auto; display: grid;">
            <span class="img-helper" style="height: 100%; display: inline-block; vertical-align: middle;"></span><img class="img-responsive lazyload lazypreload"
                 src="{{ brand.background_image }}" style=" width: 90%; height :auto; margin:0 auto; background-size: contain; background-repeat: no-repeat; vertical-align: middle; max-height: 125px;"/>
            
          </div>
          <span class="product-list-item-name hideOverflow row-fluid" data-toggle="tooltip" data-placement="top" style="overflow-wrap:break-word; max-height: 75px;" title="{{ brand.name }}">{{ brand.name }}</span>
        </div>
      </a>
      
    </div>
  {% endfor %}
</div>
</div>

{% else %}
    <div class="row no-results">
      <div class="col-12">
        <h2>{% trans "Nothing match" %}</h2>
        <img src="{% static "images/no-results-bg.svg" %}" width="120" height="120"/>
        <p>{% trans "Sorry, We found no match for this request." context "Search without results text" %}</p>
        <br><br><br>
      </div>
    </div>
  {% endif %}