{% extends "base.html" %}

{% load bootstrap_field from bootstrap4 %}
{% load i18n %}
{% load markdown from markdown %}
{% load prices_i18n %}
{% load price_range from price_ranges %}
{% load staticfiles %}
{% load get_thumbnail product_first_image from product_images %}
{% load build_absolute_uri from urls %}
{% load placeholder %}
{% load get_object_properties from attributes %}

{% block title %}
  {% if product.seo_title %}
    {{ product.seo_title }}
  {% else %}
    {{ product.name }} - {{ block.super }}
  {% endif %}
{% endblock %}


{% block meta_tags %}
  <meta property="og:title" content="{{ product.seo_title|default:product.name }}">
  <meta property="og:description" content="{{ product.seo_description|default:"" }}">
  <meta name="description" content="{{ product.seo_description|default:"" }}">

  {% build_absolute_uri request=request location=product.get_absolute_url as product_url %}
  <meta property="og:url" content="{{ product_url }}">
  <link rel="canonical" href="{{ product_url }}">

  {% product_first_image product size="510x510" as product_image %}
  {% if product_image %}
    <meta property="og:image" content="{{ product_image }}" />
    <meta property="og:image:width" content="510">
    <meta property="og:image:height" content="510">
  {% else %}
    <meta property="og:image" content="{% static "images/block1.png" %}">
  {% endif %}
{% endblock meta_tags %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home' %}">
        {% trans "Home" context "Main navigation item" %}
      </a>
    </li>
    {% if product.category %}
      <li>
        <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
      </li>
    {% endif %}
  </ul>
{% endblock breadcrumb %}

{% block content %}
  {% if not is_visible %}
    <div class="alert alert-warning" role="alert">
      {% blocktrans trimmed with date=product.available_on|date context "Product details text" %}
        <strong>Warning!</strong>
        You are previewing a product that will become visible on <strong>{{ date }}</strong>.
      {% endblocktrans %}
    </div>
  {% endif %}
  <div class="row product">
    <script type="application/ld+json">{{ json_ld_product_data|safe }}</script>
    <div class="col-md-6 col-12 product__gallery">
      {% with images=product_images %}
        {% if images %}
          
          <div id="carousel-example-generic" class="carousel slide">
            <div class="carousel-inner" role="listbox" id="lightgallery" >
             
              {% for image in images %}
                  <a  class="carousel-item{% if forloop.first %} active{% endif %}" 
                      data-srcset="{% get_thumbnail image.image method="crop" size="255x255" %} 255w, {% get_thumbnail image.image method="crop" size="540x540" %} 540w, {% get_thumbnail image.image method="crop" size="1080x1080" %} 1080w" 
                      data-caption="{{ product.name }}"
                      href="{% get_thumbnail image.image method="crop" size="1080x1080" %}"
                      data-sizes="(min-width: 40em) 80vw, 100vw">
                  <img class="d-block img-fluid lazyload lazypreload image-details"
                       data-src="{% get_thumbnail image.image method="crop" size="540x540" %}"
                       data-srcset="{% get_thumbnail image.image method="crop" size="540x540" %} 1x, {% get_thumbnail image.image method="crop" size="1080x1080" %} 2x"
                       alt="{{ product.name }}"
                       src="{% placeholder size=540 %}"
                       id="image-product-active-{{ forloop.counter0 }}"
                       data-zoom-image="{% get_thumbnail image.image method="crop" size="1080x1080" %}"/>
                  </a>
              {% endfor %}
            </div>
            {% if images|length > 1 %}
              <a class="carousel-control-prev" style="left:-2.7em;" href="#carousel-example-generic" role="button" data-slide="prev">
                <svg data-src="{% static "images/gallery-arrow.svg" %}" />
              </a>
              <a class="carousel-control-next" style="right:-2.7em;" href="#carousel-example-generic" role="button" data-slide="next">
                <svg data-src="{% static "images/gallery-arrow.svg" %}" />
              </a>
            {% endif %}
            <ol class="carousel-indicators d-none d-md-block">
              {% for image in images %}
                {% if images|length > 1 %}
                  <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}>
                    <img data-src="{% get_thumbnail image.image method="crop" size="60x60" %}"
                         data-srcset="{% get_thumbnail image.image method="crop" size="60x60" %} 1x, {% get_thumbnail image.image method="crop" size="120x120" %} 2x"
                         alt=""
                         class="lazyload lazypreload"
                         src="{% placeholder size=60 %}">
                  </li>
                {% endif %}
              {% endfor %}
            </ol>
          </div>
        {% else %}
          <img data-src="{% placeholder size=540 %}"
               data-srcset="{% placeholder size=540 %} 1x, {% placeholder size=1080 %} 2x"
               alt=""
               class="img-fluid lazyload lazypreload">
        {% endif %}
      {% endwith %}
    </div>
    <div class="col-md-6 col-12 product__info" id="app-products" data-product_id="{{ product.pk }}">
      {% if brand.brand_image %}
        <div class="row" style="display: -webkit-box;">
          <div class="col-sm-2" style="max-width: 6em;">
            <a href="{{ brand.get_absolute_url }}" class="ratio img-responsive img-circle" style="background-image: url('{{ brand.brand_image.url }}'); background-size: 80%; border: 1px solid #D3D1D0;"></a>
          </div>
          <div class="col-lg-8" style="max-width: 80%;"><h3>{{ brand.brand_name }}</h3>
            <a href="{{ brand.get_absolute_url }}">{{brand.get_absolute_url}}</a>
          </div>
        </div>
      {% endif %}
      <h1 class="product__info__name" style="font-size: 2rem; font-weight:350; ">
        {{ product }}
      </h1>
      {% if user.is_staff %}
        <p>
          <a href="{% url "dashboard:product-details" pk=product.pk %}">
            {% trans "Edit in dashboard" context "Product details link text" %}
          </a>
        </p>
      {% endif %}
      {% if rating %}
        <star-rating v-on:rating-selected ="setRating"  v-bind:max-rating="5"
                    :increment="1.0"
                    :border-width="3" 
                    border-color="#d8d8d8" 
                    :rounded-corners="true" 
                    :show-rating="true"
                    :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"
                    v-bind:star-size="35" 
                    v-bind:rating="{{ rating.value }}"
                    text-class="custom-text"
                    style="display: inline-block !important;">
        </star-rating>
      {% endif %}
      <hr>
      {% if availability.available %}
        {% if show_variant_picker %}
          <div id="variant-price-component"></div>
        {% else %}
          <h2 class="product__info__price">Price : 
            <span style="font-weight: 500; color: #e67e22;">{% price_range availability.price_range %}</span>
            {% if availability.discount %}
              <small class="product__info__price__undiscounted">{{ availability.price_range_undiscounted.start.gross|amount:'html' }}</small>
            {% endif %}
            {% if availability.price_range_local_currency %}
              <br>
              <small class="text-info">
                &asymp;
                {{ availability.price_range_local_currency.start.gross|amount:'html' }}
              </small>
            {% endif %}
          </h2>
        {% endif %}
      {% endif %}
      
      {% if is_visible and product.is_in_stock %}
        {% block orderform %}
          {% if show_variant_picker %}
            {% csrf_token %}
            <div id="variant-picker" data-variant-picker-data="{{ variant_picker_data }}" data-action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}"></div>
          {% else %}
            <form id="product-form" role="form" class="product-form clearfix" method="post" action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}" novalidate>
              {% csrf_token %}
              {% bootstrap_field form.variant %}
              <div class="product__info__quantity">
                {% bootstrap_field form.quantity %}
              </div>

              <div class="form-group product__info__button">
                <button class="btn primary">
                  {% trans "Add to cart" context "Product details primary action" %}
                </button>
              </div>
            </form>
          {% endif %}
        {% endblock %}
        <div class="product__info__form-error">
          <small class="text-danger"></small>
        </div>

      {% else %}
        <p class="alert alert-warning">
          {% blocktrans context "Product details text" %}This product is currently <strong>unavailable</strong>.{% endblocktrans %}
        </p>
      {% endif %}
      <hr>
      <div class="product__info__description">
        {% if tags %}
        <h3>{% trans "Product Tags" context "Product details title" %}</h3>
        <div id="product-tags" style="display: block;">
          {% for tag in tags %}
            <a style=" text-decoration: none; margin: .5em;" href="{{ tag.get_absolute_url }}">
            <span class="badge badge-pill badge-info" style="padding-top: .3em; padding-bottom: .3em; padding-right: .5em; padding-left: .5em; margin-top: 15px; margin-bottom: 15px; font-size: 1em; font-weight: 350;">{{tag.word}}</span></a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <hr>
      <div class="col-lg-12">
        <h3>{% trans "Merchant Location" context "Product details title" %}</h3><br>
        <div class="row">
          {% if location %}
            <a style=" text-decoration: none; margin: .25em; width: 100%;" href="https://maps.google.com?q={{ location_query }}" target="_blank" class="row">
            <img src="{% static "assets/maps-and-flags.svg" %}" width="30" height="30" style="margin-right:.5em;"></img><div style="border-bottom: 1px #4285F4 dashed; color: #4285F4;"> {{ location.location }}</div>
            </a>
          {% else %}
            <span class="glyphicon glyphicon-map-marker" aria-hidden="false" style="margin-left:.5em;"><img src="{% static "assets/maps-and-flags.svg" %}" width="30" height="30"></img> - </span>
          {% endif %}
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card">
          <ul class="nav nav-tabs" role = "tablist">
            <li  class = "nav-item"><a class="active" href="#description-product"  data-toggle="tab">{% trans "DESCRIPTION" context "Product details title" %}
        </a></li>
            <li class = "nav-item"><a href="#specification-product" data-toggle="tab">{% trans "SPECIFICATION" context "Product details title" %}
            <li class = "nav-item"><a href="#information-product" data-toggle="tab">{% trans "INFORMATION" context "Product details title" %}
        </a></li>
          </ul>
          <div class="tab-content">
            <div  class="tab-pane active" id="description-product">
            <strong><p>{% trans "Deskripsi Produk " context "Product details title" %}{{ product.name|safe }}</p></strong>
            <hr>
            
            <div id="summary" style="margin:0 auto;">
              <p class="collapse" id="collapseSummary" style="margin-left: 2em; margin-right: 2em; margin-bottom: 0;">{{ product.description|safe }}</p>
              <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
            </div>
          </div>
            <div  class="tab-pane" id="specification-product">
              <strong><p>{% trans "Spesifikasi Produk " context "Product details title" %}{{ product.name|safe }}</p></strong>
              <hr>
              <div class="table-responsive">
              <table class="table table-striped">
                {% for attribute, value in product_attributes.items %}
                  <tr>
                    <td>{{ attribute }}:</td>
                    <td><strong>{{ value }}</strong></td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            </div>
            <div  class="tab-pane" id="information-product">
              <strong><p>{% trans "Informasi Tambahan Produk :" context "Product details title" %}</p></strong>
              <ul class="list-group list-group-flush">
                {% if service %}
                {% for value in information %}
                  <li class="list-group-item">{{ value }}</li>
                {% endfor %}
                {% else %}
                  <li class="list-group-item">-</li>
                  {% endif %}
                </ul>
                <br><br>
            <strong><p>{% trans "Service Produk :" context "Product details title" %}</p></strong>
              <ul class="list-group list-group-flush">
                {% if service %}
                {% for value in service %}
                  <li class="list-group-item">{{ value }}</li>
                {% endfor %}
                {% else %}
                  <li class="list-group-item">-</li>
                  {% endif %}
                </ul>
            </div>
          </div>
    </div>
  </div>
  </div>
  <div class="row-fluid justify-content-center home__featured" style="margin-top: 2em; ">
    <h2 class="text-center">{% trans "Related Product" context "Product details title" %}</h2>
    <div class="col-lg-12 col-6">
        <div class="card" id="similar-products" data-id_product="{{product.pk}}" data-url="{% url 'product:similar-products' product_id=product.pk %}" style=" padding-bottom: 1.5em;">

        </div>
    </div>
  </div>
{% endblock content %}