{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}
   <div class="home">
  {% with promos=product_promos %}
      {% if promos %}
    <div class="row" style="margin-bottom: 3em;">
       <div class="col-lg-12 home__block0">
        <div class="home--promo">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <div class="slider-pro" id="home-slider">
                  <div class="sp-slides">
                    {% for promo in promos %}
                    <!-- Slide 1 -->
                    <div class="sp-slide">
                      <img class="sp-image" src="{% static 'images/block1.jpg' %}"/>
                      <div class="hw-the-slider-content">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="hw-the-slider-container">
                              <div class="hw-the-slider-captions sp-layer" data-show-transition="up" data-hide-transition="down" data-show-delay="800" data-hide-delay="800" data-stay-duration="5500">
                              <div class="title-frame black">
                              <span class="typcn typcn-chart-line"></span>
                                <h2>FINANCE</h2>
                                <hr class="small"/>
                                <p>Phosfluorescently engage worldwide methodologies with web-enabled technology engage.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Lorem ipsum</div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endwith %}
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Promo &amp; Sale" context "Homepage title" %}</h1>
                <h2>{% trans "from the Northpole" context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="#">
                    {% trans "Shop now" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Size &amp; Colours" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Digital Downloads" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home__featured">
      <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
      <div class="row">
        {% include "product/_items.html" %}
      </div>
    </div>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
