{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}
   <div class="home">
  {% with promos=product_promos %}
      {% if promos %}
    <div class="row" style="margin-bottom: 2em;">
       <div class="col-lg-12 home__block1">
        <div class="home--promo">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner" style="padding: 0;">
                <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
                  <ol class="carousel-indicators">
                    {% for promo in promos %}
                    <li data-target="#home-slider" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
                    {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                    {% for promo in promos %}
                    <!-- Slide 1 -->

                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                          <img draggable="false" class="d-block w-100" src="{% static promo.promo.image %}" />
                    </div>
                      
                    {% endfor %}
                    <a class="carousel-control-prev" href="#home-slider" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#home-slider" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endwith %}
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner" style="background-color: rgba(20, 20, 25, 0.5);">
                <h1>{% trans "Promo &amp; Sale" context "Homepage title" %}</h1>
                <h2>{% trans "for you" context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="{% url 'product:sale_product' %}">
                    {% trans "Shop now" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home__featured">
      <h2 class="text-center">{% trans "Top Brands" context "Homepage title" %}</h2>
      <div class="row card" id="top-brands" style="margin: 0 auto; ">

      </div>
    </div>
    <hr>
    <div class="home__featured">
      <h2 class="text-center" id="recommendation-label">{% trans "Featured Items" context "Homepage title" %}</h2>
      <div class="row" id="recommended_items">

      </div>
      <div class="row" id="evaluation">
        
      </div>
      <br>
      <hr>
    </div>
    
    <div class="home__featured">
      <div class="row" id="categories_list">

      </div>
    </div>

    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
  
{% endblock %}

