{% url 'home' as home_url %}
{% if site_menu %}
  <ul class="menu {% if horizontal %}nav mb-4 mb-md-0 row col-lg-12{% endif %}{% if request.get_full_path == home_url %} no-border{% endif %}" style="margin: 0 auto; padding: 0 !important;">
    {% for key, value in site_menu.items %}
    {% if value %}
      <li class="{% if horizontal %}nav-item row col-lg-6{% endif %} nav-item__dropdown menu__item" style="
      padding: 0 !important;">
        <a class="{% if horizontal %}nav-link{% endif %}" data-target="#myModal{{forloop.counter0}}" data-toggle="modal" style="cursor: pointer;">
        ALL {{ key }}
        </a>
        <div class="modal fade animated bounceIn" id="myModal{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="width : 100%;padding: 0 ;overflow-y: scroll; z-index: 10001;">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel" style="font-size: 1.2rem; font-weight: 400;">ALL {{key}}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    
                </div>
                <div class="modal-body">
            <ul class="list-group" style="width: 100%;">
             {% for item in value %}
                <li class="list-group-item list-group-item-secondary justify-content-between align-items-center" style="max-width: 100%; background-color: lightgray; display: block; margin-right: unset; ">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-item-menu" data-for="#{{key}}{{forloop.counter0}}" style="display: inline-block;">
                      <i class="glyphicon glyphicon-chevron-up text-muted"></i>
                  </div>
                  {% if item.url %}
                    <a href="{{ item.url }}" style="font-size: 1rem; padding: 2px;">
                      {% if horizontal %}
                        <strong>{{ item.name }}</strong>
                      {% else %}
                        {{ item.name }}
                      {% endif %}
                    </a>
                  {% else %}
                    {% if horizontal %}
                      <strong>{{ item.name }}</strong>
                    {% else %}
                      {{ item.name }}
                    {% endif %}
                  {% endif %}
                  {% if item.count %}
                  <span class="badge badge-pill badge-info" style="float: right; color:white; ">{{ item.count }}</span>
                  {% endif %}
                  
                </li>
                {% if item.children %}
                <ul class="list-group list-group-flush menu-infos" id="{{key}}{{forloop.counter0}}" style="width: 100%;">
                  {% for grandchild in item.children %}
                    <li class="list-group-item justify-content-between align-items-center" style="max-width: 100%; display: block; margin-right: unset;">
                       {% if grandchild.url %}
                          <a href="{{ grandchild.url }}" style="font-size: .9rem; padding: 0;">
                              {{ grandchild.name }}
                          </a>
                        {% else %}
                            {{ grandchild.name }}
                        {% endif %}
                      {% if grandchild.count %}
                      <span class="badge badge-pill badge-info" style="float: right; color:white; ">{{ grandchild.count }}</span>
                      {% endif %}
                     
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
             {% endfor %}
             </ul>
           </div>
         </div>
       </div>
         </div>
      </li>

    {% endif %}
    {% endfor %}
  </ul>
{% endif %}
